@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
    transform: translateY(-30px);
    opacity: 0;
    transition: 1s;
}

.custom-scroll--show {
    transform: translateY(0px);
    opacity: 1;
}