@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
    /*transform: translateY(-30px);*/
    /*opacity: 0;*/
    /*transition: 1s;*/
}

.custom-scroll--show {
    transform: translateY(0px);
    opacity: 1;
}

html {
    scroll-behavior: smooth !important;
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

#root {
    height: 100%;
    overflow: auto;
}

.max-w-91-percent-plus-50-px {
    max-width: calc(91.666667% + 50px);
}